<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>

  <main>
    <h1>Sorry, we have encountered a technical issue</h1>
    <p>We're currently fixing it.</p>
  </main>
  <%- include('partials/end.ejs') %>
</body>
