<form class='product-form' action='/admin/add-product' method='POST'>
  <div class='form-control'>
    <input type='text' name='title' placeholder='Enter a product' />
    <button type='submit'>Add Product</button>
  </div>
</form>